<div class="max-w-7xl mx-auto px-4">
  <h1
    class="text-2xl font-bold mb-6 text-center to-blue-500 text-black py-4 rounded-lg shadow-lg"
  >
    Our Services and APIs
  </h1>
  <div
    class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5"
  >
    <!-- Products -->
    <div class="bg-white p-6 rounded-lg shadow-xl">
      <h2 class="text-xl font-semibold mb-4">Products</h2>
      <ul class="space-y-2">
        <li>Recharge Software</li>
        <li>Money Transfer Software</li>
        <li>Hotel Management Software</li>
        <li>CRM Software</li>
        <li>HRMS Software</li>
        <li>Custom Software Development</li>
        <li>School Software Development</li>
      </ul>
    </div>

    <!-- Banking Services -->
    <div class="bg-white p-6 rounded-lg shadow-xl">
      <h2 class="text-xl font-semibold mb-4">Banking Services</h2>
      <ul class="space-y-2">
        <li>AEPS API</li>
        <li>MATM-POSM API</li>
        <li>Pan Card API</li>
        <li>Payout API</li>
        <li>Pay In Service</li>
        <li>UPI Collection API</li>
        <li>Credit Card BillPay API</li>
      </ul>
    </div>

    <!-- Other Services -->
    <div class="bg-white p-6 rounded-lg shadow-xl">
      <h2 class="text-xl font-semibold mb-4">Other Services</h2>
      <ul class="space-y-2">
        <li>Recharge API</li>
        <li>BBPS API</li>
        <li>LIC Premium Pay API</li>
        <li>Validation API</li>
        <li>SMS API</li>
        <li>WhatsApp API</li>
      </ul>
    </div>

    <!-- Travel API -->
    <div class="bg-white p-6 rounded-lg shadow-xl">
      <h2 class="text-xl font-semibold mb-4">Travel API</h2>
      <ul class="space-y-2">
        <li>Bus Booking API</li>
        <li>Hotel Booking API</li>
        <li>Air Booking API</li>
      </ul>
    </div>

    <!-- Verification API -->
    <div class="bg-white p-6 rounded-lg shadow-xl">
      <h2 class="text-xl font-semibold mb-4">Verification API</h2>
      <ul class="space-y-2">
        <li>Bank Ac Verification API</li>
        <li>UPI ID Verification API</li>
        <li>Aadhaar Verification API</li>
        <li>Pan Card Validation API</li>
        <li>Voter Id Verification API</li>
        <li>Driving License Verification</li>
        <li>Vehicle RC Verification API</li>
      </ul>
    </div>
  </div>
</div>
