<!-- slide section -->
<div
class="hero-section relative flex items-center justify-center bg-[url(/assets/images/hero-section-img.png)] h-[550px]">
<div class="triangles-left left-0 top-0 absolute font-inter">
    <img src="/assets/images/triangles-1.png" alt="">
</div>
<div class="content max-w-[700px]">
    
    <h2 class="title font-[900] font-inter text-white text-[65px] flex items-center justify-center">
        Contact &nbsp; <span class="theme-gradient-text">Us</span> 
    </h2>
    <p class="font-inter text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim </p>
</div>
<div class="triangles-right absolute right-0 top-0">
    <img src="/assets/images/triangles-2.png" alt="">
</div>
</div>

<!-- ends slide section  -->

<div class="bg-gray-50">
  <!-- common query  -->
  <div class="max-w-6xl mx-auto bg-white p-8 rounded-lg shadow-lg">
    <div class="text-center mb-8">
      <h2 class="text-3xl font-bold text-gray-800">
        Your Common Queries Answered
      </h2>
      <h3 class="text-2xl font-semibold text-green-500 font-bold">
        With Additional FAQs
      </h3>
      <p class="text-gray-600 mt-4 mx-auto text-center max-w-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <!-- FAQ Items -->
      <div class="space-y-4">
        <!-- FAQ Item -->
        <div
          class="flex items-center justify-between bg-gray-100 p-4 rounded-lg cursor-pointer"
          style="border: 2px solid #00d4aa"
        >
          <span class="text-gray-800"
            >How can I benefit from your startup?</span
          >
          <div class="p-1 bg-green-500 rounded-full">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 4v16m8-8H4"
              />
            </svg>
          </div>
        </div>

        <!-- FAQ Item -->
        <div
          class="flex items-center justify-between bg-gray-100 p-4 rounded-lg cursor-pointer"
          style="border: 2px solid #00d4aa"
        >
          <span class="text-gray-800"
            >How can I get in touch with customer support?</span
          >
          <div class="p-1 bg-green-500 rounded-full">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 4v16m8-8H4"
              />
            </svg>
          </div>
        </div>

        <!-- Additional Content -->
        <p class="text-gray-600 mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.
        </p>

        <!-- FAQ Item -->
        <div
          class="flex items-center justify-between bg-gray-100 p-4 rounded-lg cursor-pointer"
          style="border: 2px solid #00d4aa"
        >
          <span class="text-gray-800"
            >How do you ensure data security and privacy?</span
          >
          <div class="p-1 bg-green-500 rounded-full">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 4v16m8-8H4"
              />
            </svg>
          </div>
        </div>

        <!-- FAQ Item -->
        <div
          class="flex items-center justify-between bg-gray-100 p-4 rounded-lg cursor-pointer"
          style="border: 2px solid #00d4aa"
        >
          <span class="text-gray-800"
            >How do I get started with your offerings?</span
          >
          <div class="p-1 bg-green-500 rounded-full">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 4v16m8-8H4"
              />
            </svg>
          </div>
        </div>
      </div>

      <!-- Image Section -->
      <div class="relative">
        <img style="border: 5px solid #00D4AA;"
          src="https://www.iserd.co/list-img/Paris,France.jpg"
          alt="FAQ Image"
          class="rounded-lg shadow-lg w-full"
        />
        <div class="absolute bottom-4 right-4">
          <a
            href="#"
            class="flex items-center space-x-2 bg-green-500 text-white px-3 py-2 rounded-lg shadow-lg"
          >
            <span>WhatsApp</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 4v16m8-8H4"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- common query ends here  -->

  <!-- Contact Form and Details Section -->
  <section class="bg-green-100 py-16 px-6">
    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Contact Form -->
      <div class="bg-green-500 text-white rounded-lg p-6  shadow-lg">
        <h2 class="text-2xl font-bold mb-6">How May We Help You?</h2>
        <form class="space-y-4">
          <div class="grid grid-cols-2 gap-4">
            <div>
              <label>Name</label>
             <input
                type="text"
                placeholder="Enter Name"
                class="w-full p-3 rounded border border-gray-300 focus:outline-none caret-black">
        
           
            </div>
            <div>
              <label>Surname</label>
              <input
                type="text"
                placeholder="Enter Surname"
                class="w-full p-3 rounded border border-gray-300 focus:outline-none caret-black"
              />
            </div>
          </div>
          <div>
            <label>Email</label>
            <input
              type="email"
              placeholder="Enter Email"
              class="w-full p-3 rounded caret-black"
            />
          </div>
          <div>
            <label>phone</label>
            <input
              type="tel"
              placeholder="Enter Phone"
              class="w-full p-3 rounded caret-black"
            />
          </div>
          <div>
            <label>Message</label>
            <textarea
              placeholder="Enter Message"
              class="w-full p-3 rounded border border-gray caret-black"
            ></textarea>
          </div>
          <button
            type="submit"
            class="w-full bg-black text-white py-3 rounded hover:bg-gray-800"
          >
            Send Message
          </button>
        </form>
      </div>

      <!-- Contact Details -->

        <div class="bg-white shadow-lg rounded-lg p-6 max-w-lg">
          <h2 class="text-2xl font-bold text-gray-900 mb-4">
            Contact <span class="text-green-500">Details</span>
          </h2>
          <p class="text-gray-600 text-sm mb-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
          <div class="grid grid-cols-2 gap-4 text-sm">
            <!-- Address -->
            <div
              class="flex items-center space-x-3"
              style="
                border: 2px solid #00d4aa;
                border-radius: 0.6rem;
                padding: 0.8rem;
              "
            >
              <div class="p-3 bg-green-100 rounded-full" style="background-color: #00d455;">
                <svg style="color: white;"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 text-green-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5.121 19.485A9.956 9.956 0 0112 15c2.577 0 4.897 1.02 6.879 2.707M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
              </div>
              <span>Dhuliya ganj 2/14</span>
            </div>

            <!-- Mobile -->
            <div
              class="flex items-center space-x-3"
              style="
                border: 2px solid #00d4aa;
                border-radius: 0.6rem;
                padding: 0.8rem;
              "
            >
              <div class="p-3 bg-green-100 rounded-full" style="background-color: #00d455;">
                <svg style="color: white;"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 text-green-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 10a1 1 0 011-1h16a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M21 16V7a2 2 0 00-2-2H5a2 2 0 00-2 2v9m4 4h10"
                  />
                </svg>
              </div>
              <span>8989108932</span>
            </div>

            <!-- Availability -->
            <div
              class="flex items-center space-x-3"
              style="
                border: 2px solid #00d4aa;
                border-radius: 0.6rem;
                padding: 0.8rem;
              "
            >
              <div class="p-3 bg-green-100 rounded-full" style="background-color: #00d455">
                <svg style="color: white;"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 text-green-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 8V6a4 4 0 00-8 0v2M5.5 8H3a1 1 0 00-1 1v8a1 1 0 001 1h18a1 1 0 001-1V9a1 1 0 00-1-1h-2.5"
                  />
                </svg>
              </div>
              <span>Daily 09 am - 05 pm</span>
            </div>

            <!-- Email -->
            <div
              class="flex items-center space-x-3"
              style="
                border: 2px solid #00d4aa;
                border-radius: 0.6rem;
                padding: 0.8rem;
              "
            >
              <div class="p-3 rounded-full" style="background-color: #00d455">
                <svg
                  style="color: white"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 text-white-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 8l7.293 5.793a1 1 0 001.414 0L21 8M5 4h14a2 2 0 012 2v12a2 2 0 01-2 2H5a2 2 0 01-2-2V6a2 2 0 012-2z"
                  />
                </svg>
              </div>
              <span>Abhiksharma28</span>
            </div>
          </div>

          <hr class="mt-16" style="border-color: #00d455;">

          <!-- Social Media -->
          <!-- <div class="mt-6">
            <h3 class="text-gray-700 font-medium mb-2">Social Media :</h3>
            <div class="flex space-x-3 text-gray-600">
              <a href="#" class="hover:text-green-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <path
                    d="M10 20v-6h-3v-4h3v-2c0-2.761 2.239-5 5-5h4v4h-4c-.551 0-1 .449-1 1v2h5l-1 4h-4v6h-3z"
                  />
                </svg>
              </a>
              <a href="#" class="hover:text-green-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <path
                    d="M20.947 8.305a8.35 8.35 0 01-2.36.647 4.13 4.13 0 001.81-2.274 8.289 8.289 0 01-2.605.994 4.1 4.1 0 00-6.993 3.74 11.632 11.632 0 01-8.452-4.285 4.1 4.1 0 001.27 5.464 4.078 4.078 0 01-1.856-.513v.052a4.1 4.1 0 003.288 4.016 4.099 4.099 0 01-1.85.07 4.1 4.1 0 003.834 2.852A8.23 8.23 0 012 18.924a11.616 11.616 0 006.29 1.84"
                  />
                </svg>
              </a>
              <a href="#" class="hover:text-green-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <path
                    d="M12 0c-6.627 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.386.6.111.793-.261.793-.582v-2.167c-3.338.726-4.033-1.616-4.033-1.616-.546-1.386-1.333-1.754-1.333-1.754-1.091-.746.083-.73.083-.73 1.205.084 1.838 1.236 1.838 1.236 1.072 1.835 2.809 1.305 3.495.998.108-.776.419-1.305.763-1.605-2.665-.303-5.467-1.33-5.467-5.931 0-1.31.467-2.381 1.236-3.222-.123-.303-.535-1.523.116-3.176 0 0 1.008-.323 3.301 1.23.957-.266 1.984-.399 3.005-.405 1.021.006 2.048.139 3.005.405 2.293-1.553 3.3-1.23 3.3-1.23.653 1.653.241 2.873.118 3.176.771.841 1.236 1.912 1.236 3.222 0 4.609-2.805 5.624-5.475 5.919.429.371.814 1.101.814 2.221v3.293c0 .324.192.697.8.578 4.771-1.587 8.209-6.085 8.209-11.386 0-6.627-5.373-12-12-12z"
                  />
                </svg>
              </a>
            </div>
          </div> -->
          <div class="mt-6 flex justify-between items-center">
            <h3 class="text-gray-700 font-medium mb-2">Social Media :</h3>
            <div class="flex space-x-3 text-gray-600">
              <a href="#" class="hover:text-green-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M10 20v-6h-3v-4h3v-2c0-2.761 2.239-5 5-5h4v4h-4c-.551 0-1 .449-1 1v2h5l-1 4h-4v6h-3z" />
                </svg>
              </a>
              <a href="#" class="hover:text-green-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M20.947 8.305a8.35 8.35 0 01-2.36.647 4.13 4.13 0 001.81-2.274 8.289 8.289 0 01-2.605.994 4.1 4.1 0 00-6.993 3.74 11.632 11.632 0 01-8.452-4.285 4.1 4.1 0 001.27 5.464 4.078 4.078 0 01-1.856-.513v.052a4.1 4.1 0 003.288 4.016 4.099 4.099 0 01-1.85.07 4.1 4.1 0 003.834 2.852A8.23 8.23 0 012 18.924a11.616 11.616 0 006.29 1.84" />
                </svg>
              </a>
              <a href="#" class="hover:text-green-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M12 0c-6.627 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.386.6.111.793-.261.793-.582v-2.167c-3.338.726-4.033-1.616-4.033-1.616-.546-1.386-1.333-1.754-1.333-1.754-1.091-.746.083-.73.083-.73 1.205.084 1.838 1.236 1.838 1.236 1.072 1.835 2.809 1.305 3.495.998.108-.776.419-1.305.763-1.605-2.665-.303-5.467-1.33-5.467-5.931 0-1.31.467-2.381 1.236-3.222-.123-.303-.535-1.523.116-3.176 0 0 1.008-.323 3.301 1.23.957-.266 1.984-.399 3.005-.405 1.021.006 2.048.139 3.005.405 2.293-1.553 3.3-1.23 3.3-1.23.653 1.653.241 2.873.118 3.176.771.841 1.236 1.912 1.236 3.222 0 4.609-2.805 5.624-5.475 5.919.429.371.814 1.101.814 2.221v3.293c0 .324.192.697.8.578 4.771-1.587 8.209-6.085 8.209-11.386 0-6.627-5.373-12-12-12z" />
                </svg>
              </a>
            </div>
          </div>
          
        </div>
    </div>
  </section>
</div>
