<!-- whats app icon -->
<div class="fixed right-4 bottom-4 flex flex-col  z-50">
    <!-- WhatsApp Icon -->
    <a href="https://wa.me/your-number" target="_blank" aria-label="WhatsApp">
      <div class="p-1 rounded-full  transition">
        <img src="/assets/icons/whatsapp.svg" alt="WhatsApp Icon" class="w-10 h-10">
      </div>
    </a>
  
    <!-- Message Icon -->
    <a href="mailto:your-email@example.com" aria-label="Message">
      <div class="p-1 rounded-full  transition">
        <img src="/assets/icons/message.svg" alt="Message Icon" class="w-10 h-10">
      </div>
    </a>
  </div>
  
  <!-- ends of whats app icon  -->

  <!-- about section starts from here  -->