
<div
    class="hero-section relative flex items-center justify-center bg-[url(/assets/images/hero-section-img.png)] h-[550px]">
    <div class="triangles-left left-0  xl:top-0 bottom-[10px] absolute font-inter">
        <img class="xl:w-auto w-[150px]" src="/assets/images/triangles-1.png" alt="">
    </div>
    <div class="content xl:text-left text-center max-w-[700px] md:px-0 px-4">
        <h5 class="sub-title text-white lg:text-[18px text-[16px] font-inter font-bold">
            BEST IT SERVICES PROVIDER
        </h5>
        <h2 class="title font-[900] font-inter text-white md:text-[65px] text-[30px]">
            Excellent <span class="theme-gradient-text">IT Services</span> for Your Success
        </h2>
        <p class="font-inter text-white md:text-[18px] text-[14px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor
            incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim </p>
    </div>
    <div class="triangles-right absolute right-0 top-0">
        <img src="/assets/images/triangles-2.png" alt="">
    </div>
</div>
<section class="max-w-[1200px] xl:px-0 px-4 mx-auto my-[60px]">
    <div class="flex justify-between items-center">
        <h3 class="md:text-[30px] text-[18px] font-[900]">Ready-Made <span class="theme-gradient-text">Product</span></h3>
        <button
            class="button bg-theme-gradient px-[20px] h-[45px] text-[12px] font-inter text-white font-bold border-2 border-white rounded-md flex items-center justify-center">
            View All Product <img class="ml-2" src="/assets/icons/arrow-right.png">
        </button>
    </div>

    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-[30px] gap-x-[30px]">
        <div style="box-shadow: 0px 4px 4px 0px #00000040;"
            class="card font-inter theme-border text-center border-[2px] flex items-center flex-col p-[30px]">
            <img src="/assets/images/product-1.png" alt="">
            <h5 class="theme-gradient-text text-[20px] mt-[20px] font-[900]">RECHARGE PORTAL</h5>
            <p class="text-[18px] mt-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et
                dolore.</p>
        </div>
        <div style="box-shadow: 0px 4px 4px 0px #00000040;"
            class="card font-inter theme-border text-center border-[2px] md:flex items-center flex-col p-[30px] hidden">
            <img src="/assets/images/product-2.png" alt="">
            <h5 class="theme-gradient-text text-[20px] mt-[20px] font-[900]">RECHARGE PORTAL</h5>
            <p class="text-[18px] mt-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et
                dolore.</p>
        </div>
        <div style="box-shadow: 0px 4px 4px 0px #00000040;"
            class="card font-inter theme-border text-center border-[2px] hidden items-center flex-col p-[30px] lg:flex">
            <img src="/assets/images/product-3.png" alt="">
            <h5 class="theme-gradient-text text-[20px] mt-[20px] font-[900]">RECHARGE PORTAL</h5>
            <p class="text-[18px] mt-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et
                dolore.</p>
        </div>
    </div>
</section>
<section class="bg-[#F3F6FB] flex items-center pb-[128px]" id="solution">
    <div class="max-w-[1200px] px-6  gap-x-5 grid lg:grid-cols-2  mx-auto my-[60px]">
        <div class="left relative flex justify-center">
            <img src="/assets/images/images.png" alt="">
        </div>
        <div class="right lg:px-0 px-4 lg:mt-0 mt-[50px] flex justify-center flex-col">
            <h4 class="font-inter font-extrabold lg:text-[40px] text-[25px]">We Strive To Offer Intelligent Business
                Solutions.</h4>
            <p class="text-[18px] font-inter">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
            <div class="mt-[20px] grid xl:grid-cols-2 md:grid-cols-1 gap-y-5">
                <div class="flex font-inter px-4 gap-x-4">
                    <div>
                        <img src="/assets/icons/services.png" alt="">
                    </div>
                    <div>
                        <h6 class="title font-bold text-[16px]">Best Services</h6>
                        <p class="">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
                <div class="flex font-inter px-4 gap-x-4 ">
                    <div>
                        <img src="/assets/icons/services.png" alt="">
                    </div>
                    <div>
                        <h6 class="title font-bold text-[16px]">Best Services</h6>
                        <p class="">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <button
                    class="button bg-theme-gradient px-[20px] h-[48px] text-[20px] font-inter text-white font-bold border-2 border-white rounded-md flex items-center justify-center mt-[40px]">
                    Explore More <img class="ml-2" src="/assets/icons/arrow-right.png">
                </button>
            </div>
        </div>
    </div>
</section>
<div
    class="max-w-[1280px] gap-x-[120px] gap-y-[20px] lg:h-[225px] py-5 mx-auto lg:flex grid md:grid-cols-2 grid-cols-1 lg:px-0 px-[20px] bg-theme-gradient justify-center items-center md:-translate-y-[50%] -translate-y-[20%]">
    <div class="flex items-center justify-center md:justify-start gap-x-[16px]">
        <div>
            <img src="/assets/icons/stats.png" alt="">
        </div>
        <div class="text-white font-inter">
            <h6 class="font-bold text-[30px]">6,561 +</h6>
            <p class="text-[16px]">Satisfied Client</p>
        </div>
    </div>
    <div class="flex items-center justify-center md:justify-start gap-x-[16px]">
        <div>
            <img src="/assets/icons/stats.png" alt="">
        </div>
        <div class="text-white font-inter">
            <h6 class="font-bold text-[30px]">6,561 +</h6>
            <p class="text-[16px]">Satisfied Client</p>
        </div>
    </div>
    <div class="flex items-center justify-center md:justify-start gap-x-[16px]">
        <div>
            <img src="/assets/icons/stats.png" alt="">
        </div>
        <div class="text-white font-inter">
            <h6 class="font-bold text-[30px]">6,561 +</h6>
            <p class="text-[16px]">Satisfied Client</p>
        </div>
    </div>
    <div class="flex items-center justify-center md:justify-start gap-x-[16px]">
        <div>
            <img src="/assets/icons/stats.png" alt="">
        </div>
        <div class="text-white font-inter">
            <h6 class="font-bold text-[30px]">6,561 +</h6>
            <p class="text-[16px]">Satisfied Client</p>
        </div>
    </div>
</div>
<section class="max-w-[1200px] mx-auto mb-[60px] xl:px-0 px-10">
    <div class="flex justify-between items-center">
        <h3 class="md:text-[30px] text-[18px] font-[900]">We Serve <span class="theme-gradient-text">All Industries</span></h3>
        <button
            class="button bg-theme-gradient px-[20px] h-[45px] text-[12px] font-inter text-white font-bold border-2 border-white rounded-md flex items-center justify-center">
            View All Industries <img class="ml-2" src="/assets/icons/arrow-right.png">
        </button>
    </div>

    <div class="grid md:grid-cols-4 grid-cols-1 mt-[30px] gap-x-[30px]">
        <div style="box-shadow: 0px 4px 4px 0px #00000040;" class="card font-inter relative">
            <img src="/assets/images/industry-1.png" class="h-full w-full">
            <h5 class="text-white absolute bottom-0 xl:text-[26px] lg:text-[18px] px-4 py-2 font-[500]">Real Estate</h5>
        </div>
        <div style="box-shadow: 0px 4px 4px 0px #00000040;" class="card hidden md:block font-inter relative">
            <img src="/assets/images/industry-2.png" class="h-full w-full">
            <h5 class="text-white absolute bottom-0 xl:text-[26px] lg:text-[18px] px-4 py-2 font-[500]">Jobs &
                Recruiters</h5>
        </div>
        <div style="box-shadow: 0px 4px 4px 0px #00000040;" class="card hidden md:block font-inter relative">
            <img src="/assets/images/industry-3.png" class="h-full w-full">
            <h5 class="text-white absolute bottom-0 xl:text-[26px] lg:text-[18px] px-4 py-2 font-[500]">Matrimonial</h5>
        </div>
        <div style="box-shadow: 0px 4px 4px 0px #00000040;" class="card hidden md:block font-inter relative">
            <img src="/assets/images/industry-4.png" class="h-full w-full">
            <h5 class="text-white absolute bottom-0 xl:text-[26px] lg:text-[18px] px-4 py-2 font-[500]">Healthcare</h5>
        </div>
    </div>
</section>
<section class="bg-theme-gradient-light py-[36px] pb-0">
    <div class="max-w-[1200px] xl:px-0 px-5  mx-auto">
        <div class="flex justify-between items-center">
            <h3 class="lg:text-[40px] md:text-[20px] text-[14px] font-[900] max-w-[758px]">Enhance And pioneer Using Technology Trends</h3>
            <button
                class="button bg-theme-gradient px-[20px] h-[45px] text-[12px] font-inter text-white font-bold border-2 border-white rounded-md flex items-center justify-center">
                View All Case <img class="ml-2" src="/assets/icons/arrow-right.png">
            </button>
        </div>
        <div class="grid lg:grid-cols-6 md:grid-cols-3 grid-cols-1 mt-[80px] gap-x-[30px] technologies">
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="card font-inter theme-border text-center border-[2px] flex relative items-center flex-col pt-[32px] px-[40px] pb-[20px]">
                <div
                    class="icon bg-theme-gradient h-[55px] w-[55px] absolute rounded-full flex items-center justify-center -translate-y-[50%] top-0">
                    <img src="/assets/icons/web.png">
                </div>
                <h4 class="text-[26px] font-[600] font-inter">Website</h4>
            </div>
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="card font-inter theme-border text-center border-[2px] flex relative items-center flex-col pt-[32px] px-[40px] pb-[20px]">
                <div
                    class="icon bg-theme-gradient h-[55px] w-[55px] absolute rounded-full flex items-center justify-center -translate-y-[50%] top-0">
                    <img src="/assets/icons/android.png" alt="">
                </div>
                <h4 class="text-[26px] font-[600] font-inter">Android</h4>
            </div>
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="card font-inter theme-border text-center border-[2px] flex relative items-center flex-col pt-[32px] px-[40px] pb-[20px]">
                <div
                    class="icon bg-theme-gradient h-[55px] w-[55px] absolute rounded-full flex items-center justify-center -translate-y-[50%] top-0">
                    <img src="/assets/icons/web.png" alt="">
                </div>
                <h4 class="text-[26px] font-[600] font-inter">ios</h4>
            </div>
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="card font-inter theme-border text-center border-[2px] flex relative items-center flex-col pt-[32px] px-[40px] pb-[20px]">
                <div
                    class="icon bg-theme-gradient h-[55px] w-[55px] absolute rounded-full flex items-center justify-center -translate-y-[50%] top-0">
                    <img src="/assets/icons/web.png" alt="">
                </div>
                <h4 class="text-[26px] font-[600] font-inter">Website</h4>
            </div>
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="card font-inter theme-border text-center border-[2px] flex relative items-center flex-col pt-[32px] px-[40px] pb-[20px]">
                <div
                    class="icon bg-theme-gradient h-[55px] w-[55px] absolute rounded-full flex items-center justify-center -translate-y-[50%] top-0">
                    <img src="/assets/icons/web.png" alt="">
                </div>
                <h4 class="text-[26px] font-[600] font-inter">TV</h4>
            </div>
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="card font-inter theme-border text-center border-[2px] flex relative items-center flex-col pt-[32px] px-[40px] pb-[20px]">
                <div
                    class="icon bg-theme-gradient h-[55px] w-[55px] absolute rounded-full flex items-center justify-center -translate-y-[50%] top-0">
                    <img src="/assets/icons/web.png" alt="">
                </div>
                <h4 class="text-[26px] font-[600] font-inter">Website</h4>
            </div>
        </div>
    </div>
    <div style="box-shadow: 0px 4px 4px 0px #00000040;"
        class="bg-theme-gradient tech-media max-w-[1200px] mx-auto rounded-[4px] flex gap-x-[52px] justify-center items-center h-[175px] translate-y-[50%]">
        <div class="flex items-center justify-center">
            <img src="assets/icons/lines.png" alt="">
            <h5 class="text-[24px] font-inter font-[700] text-white">Tech Media</h5>
        </div>
        <div class="flex items-center justify-center">
            <img src="assets/icons/lines.png" alt="">
            <h5 class="text-[24px] font-inter font-[700] text-white">Tech Media</h5>
        </div>
        <div class="flex items-center justify-center">
            <img src="assets/icons/lines.png" alt="">
            <h5 class="text-[24px] font-inter font-[700] text-white">Tech Media</h5>
        </div>
        <div class="flex items-center justify-center">
            <img src="assets/icons/lines.png" alt="">
            <h5 class="text-[24px] font-inter font-[700] text-white">Tech Media</h5>
        </div>
        <div class="flex items-center justify-center">
            <img src="assets/icons/lines.png" alt="">
            <h5 class="text-[24px] font-inter font-[700] text-white">Tech Media</h5>
        </div>
    </div>
</section>
<section class="max-w-[1200px] xl:px-0 px-4 mx-auto">
    <h4 class="text-center font-inter font-extrabold text-[30px] mt-[120px]">Our <span
            class="theme-gradient-text">Development Process</span></h4>
    <div class="grid xl:grid-cols-3 col-span-1 justify-items-center gap-x-[30px] mt-[60px]">
        <div class="process flex items-center flex-col justify-center text-center">
            <img src="/assets/images/dev-process.png" alt="">
            <h5 class="theme-gradient-text text-[24px] font-inter mt-[20px] font-extrabold">Deepak Sharma</h5>
            <p class="text-[18px] font-inter mt-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna </p>
        </div>
        <div class="process flex items-center flex-col justify-center text-center">
            <img src="/assets/images/dev-process.png" alt="">
            <h5 class="theme-gradient-text text-[24px] font-inter mt-[20px] font-extrabold">Deepak Sharma</h5>
            <p class="text-[18px] font-inter mt-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna </p>
        </div>
        <div class="process flex items-center flex-col justify-center text-center">
            <img src="/assets/images/dev-process.png" alt="">
            <h5 class="theme-gradient-text text-[24px] font-inter mt-[20px] font-extrabold">Deepak Sharma</h5>
            <p class="text-[18px] font-inter mt-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna </p>
        </div>
    </div>
</section>
<section class="mt-[30px] lg:bg-[url('/assets/images/contact-image.png')] bg-no-repeat bg-left">
    <div class="max-w-[1200px] grid  lg:grid-cols-2 grid-cols-1 gap-x-[80px] py-[60px] mx-auto ">
        <div class="left xl:px-[40px] px-2 bg-theme-gradient py-[30px]">
            <h4 class="font-inter text-[30px] font-semibold text-white ">How May We Help You ?</h4>
            <form action="">
                <div class="md:grid md:grid-cols-2 mt-[30px] gap-x-[20px]">

                    <div class="form-group">
                        <label class="font-inter font-[400] text-white" for="name">Name</label>
                        <input class="h-[50px] px-[14px] font-inter text-[12px]" type="text" id="name"
                            placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label class="font-inter font-[400] text-white" for="surname">Surname</label>
                        <input class="h-[50px] px-[14px] font-inter text-[12px]" type="text" id="surname"
                            placeholder="Enter surname">
                    </div>
                    <div class="form-group">
                        <label class="font-inter font-[400] text-white" for="email">Email</label>
                        <input class="h-[50px] px-[14px] font-inter text-[12px]" type="email" id="email"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label class="font-inter font-[400] text-white" for="phone">Phone</label>
                        <input class="h-[50px] px-[14px] font-inter text-[12px]" type="text" id="phone"
                            placeholder="Enter phone number">
                    </div>
                    <div class="form-group md:col-span-2">
                        <label class="font-inter font-[400] text-white" for="message">Message</label>
                        <textarea id="message" class="h-[130px] p-[14px] font-inter text-[12px]" rows="5"
                            placeholder="Type message"></textarea>
                    </div>

                    <button type="submit" class="md:col-span-2 w-full bg-black text-white h-[50px] font-inter font-bold">Send
                        Message</button>
                </div>
            </form>
        </div>
        <div class="right xl:mt-0 mt-5 xl:px-0 px-4 flex flex-col justify-center">
            <h4 class="font-inter text-[30px] font-extrabold">What they Say <span class="theme-gradient-text ">About
                    Our</span></h4>
            <p class="font-inter mt-[18px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="theme-border border-2 mt-[46px] relative px-[32px] py-[20px]">
                <img src="assets/icons/quotes.png" class="absolute right-[20px] top-[20px]" alt="">
                <div class="flex gap-x-[30px]">
                    <div>
                        <img src="assets\images\client.png" alt="">
                    </div>
                    <div>
                        <h3 class="font-[600]">Deepak sharma</h3>
                        <span class="role text-[#7C7878]">CEO of agami</span>
                        <div class="flex mt-[10px]">
                            <img src="assets\icons\star.png" alt="">
                            <img src="assets\icons\star.png" alt="">
                            <img src="assets\icons\star.png" alt="">
                            <img src="assets\icons\star.png" alt="">
                            <img src="assets\icons\star.png" alt="">
                            <img src="assets\icons\star.png" alt="">
                        </div>
                    </div>
                </div>
                <p class="mt-[10px] text-[16px] font-inter">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="flex mt-[20px] items-center">
                <div class="flex h-[2px] flex-1 bg-theme-gradient">

                </div>
                <div class="flex mx-[30px] gap-x-[30px] ">
                    <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                        class="bg-[#D9D9D9] border-white border-[2px] rounded-full h-[42px] w-[42px] justify-center items-center flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_5935_1955)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M7.93966 13.06C7.65876 12.7788 7.50098 12.3975 7.50098 12C7.50098 11.6025 7.65876 11.2213 7.93966 10.94L13.5957 5.28202C13.8771 5.00076 14.2587 4.8428 14.6565 4.8429C14.8535 4.84294 15.0486 4.88179 15.2306 4.95722C15.4125 5.03265 15.5779 5.14319 15.7172 5.28252C15.8564 5.42185 15.9669 5.58725 16.0422 5.76928C16.1176 5.9513 16.1563 6.14638 16.1563 6.34338C16.1562 6.54038 16.1174 6.73544 16.042 6.91742C15.9665 7.09941 15.856 7.26476 15.7167 7.40402L11.1217 12L15.7177 16.596C15.861 16.7343 15.9753 16.8998 16.054 17.0828C16.1327 17.2657 16.1742 17.4625 16.176 17.6617C16.1779 17.8609 16.14 18.0584 16.0647 18.2428C15.9893 18.4272 15.878 18.5947 15.7373 18.7356C15.5965 18.8765 15.4291 18.988 15.2447 19.0635C15.0604 19.139 14.8629 19.177 14.6638 19.1754C14.4646 19.1738 14.2678 19.1325 14.0847 19.0539C13.9017 18.9754 13.7361 18.8612 13.5977 18.718L7.93766 13.06H7.93966Z"
                                    fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_5935_1955">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                        class="bg-theme-gradient border-white border-[2px] rounded-full h-[42px] w-[42px] justify-center items-center flex">
                        <svg style="rotate: 180deg;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_5935_1955)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M7.93966 13.06C7.65876 12.7788 7.50098 12.3975 7.50098 12C7.50098 11.6025 7.65876 11.2213 7.93966 10.94L13.5957 5.28202C13.8771 5.00076 14.2587 4.8428 14.6565 4.8429C14.8535 4.84294 15.0486 4.88179 15.2306 4.95722C15.4125 5.03265 15.5779 5.14319 15.7172 5.28252C15.8564 5.42185 15.9669 5.58725 16.0422 5.76928C16.1176 5.9513 16.1563 6.14638 16.1563 6.34338C16.1562 6.54038 16.1174 6.73544 16.042 6.91742C15.9665 7.09941 15.856 7.26476 15.7167 7.40402L11.1217 12L15.7177 16.596C15.861 16.7343 15.9753 16.8998 16.054 17.0828C16.1327 17.2657 16.1742 17.4625 16.176 17.6617C16.1779 17.8609 16.14 18.0584 16.0647 18.2428C15.9893 18.4272 15.878 18.5947 15.7373 18.7356C15.5965 18.8765 15.4291 18.988 15.2447 19.0635C15.0604 19.139 14.8629 19.177 14.6638 19.1754C14.4646 19.1738 14.2678 19.1325 14.0847 19.0539C13.9017 18.9754 13.7361 18.8612 13.5977 18.718L7.93766 13.06H7.93966Z"
                                    fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_5935_1955">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                </div>
                <div style="box-shadow: 0px 4px 4px 0px #00000040;" class="flex h-[2px] flex-1 bg-theme-gradient">

                </div>
            </div>
        </div>

    </div>
</section>
<app-footer />