
<div
    class="hero-section relative flex items-center justify-center bg-[url(/assets/images/hero-section-img.png)] h-[550px]">
    <div class="triangles-left left-0 top-0 absolute font-inter">
        <img src="/assets/images/triangles-1.png" alt="">
    </div>
    <div class="content max-w-[700px]">
        <h5 class="sub-title text-white text-[18px] font-inter font-bold">
            BEST IT SERVICES PROVIDER
        </h5>
        <h2 class="title font-[900] font-inter text-white text-[65px]">
            Excellent <span class="theme-gradient-text">IT Services</span> for Your Success
        </h2>
        <p class="font-inter text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim </p>
    </div>
    <div class="triangles-right absolute right-0 top-0">
        <img src="/assets/images/triangles-2.png" alt="">
    </div>
</div>
<section class="max-w-[1200px] mx-auto my-[60px]">
    <div class="flex justify-between items-center">
        <h3 class="text-[30px] font-[900]">Ready-Made <span class="theme-gradient-text">Product</span></h3>
        <button
            class="button bg-theme-gradient px-[20px] h-[45px] text-[12px] font-inter text-white font-bold border-2 border-white rounded-md flex items-center justify-center">
            View All Product <img class="ml-2" src="/assets/icons/arrow-right.png">
        </button>
    </div>

    <div class="grid grid-cols-3 mt-[30px] gap-x-[30px]">
        <div style="box-shadow: 0px 4px 4px 0px #00000040;"
            class="card font-inter theme-border text-center border-[2px] flex items-center flex-col p-[30px]">
            <img src="/assets/images/product-1.png" alt="">
            <h5 class="theme-gradient-text text-[20px] mt-[20px] font-[900]">RECHARGE PORTAL</h5>
            <p class="text-[18px] mt-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et
                dolore.</p>
        </div>
        <div style="box-shadow: 0px 4px 4px 0px #00000040;"
            class="card font-inter theme-border text-center border-[2px] flex items-center flex-col p-[30px]">
            <img src="/assets/images/product-2.png" alt="">
            <h5 class="theme-gradient-text text-[20px] mt-[20px] font-[900]">RECHARGE PORTAL</h5>
            <p class="text-[18px] mt-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et
                dolore.</p>
        </div>
        <div style="box-shadow: 0px 4px 4px 0px #00000040;"
            class="card font-inter theme-border text-center border-[2px] flex items-center flex-col p-[30px]">
            <img src="/assets/images/product-3.png" alt="">
            <h5 class="theme-gradient-text text-[20px] mt-[20px] font-[900]">RECHARGE PORTAL</h5>
            <p class="text-[18px] mt-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et
                dolore.</p>
        </div>
    </div>
</section>
<section class="bg-[#F3F6FB]" id="solution">
    <div class="max-w-[1200px]  mx-auto my-[60px] flex">
        <div class="left relative w-1/2 py-[20px]">
            <div class="h-[230px] w-[230px] rounded-full bg-theme-gradient flex items-center justify-center absolute left-[320px] top-0 translate-y-[15%] -translate-x-[50%] z-[0]">
                <div class="h-[200px] w-[200px] bg-[#F3F6FB] rounded-full"></div>
            </div>
            <img src="/assets/images/no-border-img.png" class="absolute max-w-[320px] h-[480px] left-0" alt="">
            <img  src="/assets/images/bordered-img.png"
                class="absolute max-w-[156px] h-[244px] left-[320px] top-0 translate-y-[50%] -translate-x-[20%] " alt="">
        </div>
        <div class="right w-1/2">
            <h4 class="font-inter font-extrabold text-[40px]">We Strive To Offer Intelligent Business Solutions.</h4>
            <p class="text-[18px] font-inter">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
        </div>
    </div>
</section>
<section class="max-w-[1200px] mx-auto my-[60px]">
    <div class="flex justify-between items-center">
        <h3 class="text-[30px] font-[900]">We Serve <span class="theme-gradient-text">All Industries</span></h3>
        <button
            class="button bg-theme-gradient px-[20px] h-[45px] text-[12px] font-inter text-white font-bold border-2 border-white rounded-md flex items-center justify-center">
            View All Industries <img class="ml-2" src="/assets/icons/arrow-right.png">
        </button>
    </div>

    <div class="grid grid-cols-4 mt-[30px] gap-x-[30px]">
        <div style="box-shadow: 0px 4px 4px 0px #00000040;" class="card font-inter relative">
            <img src="/assets/images/industry-1.png" class="h-full w-full">
            <h5 class="text-white absolute bottom-0 text-[26px] px-4 py-2 font-[500]">Real Estate</h5>
        </div>
        <div style="box-shadow: 0px 4px 4px 0px #00000040;" class="card font-inter relative">
            <img src="/assets/images/industry-2.png" class="h-full w-full">
            <h5 class="text-white absolute bottom-0 text-[26px] px-4 py-2 font-[500]">Jobs & Recruiters</h5>
        </div>
        <div style="box-shadow: 0px 4px 4px 0px #00000040;" class="card font-inter relative">
            <img src="/assets/images/industry-3.png" class="h-full w-full">
            <h5 class="text-white absolute bottom-0 text-[26px] px-4 py-2 font-[500]">Matrimonial</h5>
        </div>
        <div style="box-shadow: 0px 4px 4px 0px #00000040;" class="card font-inter relative">
            <img src="/assets/images/industry-4.png" class="h-full w-full">
            <h5 class="text-white absolute bottom-0 text-[26px] px-4 py-2 font-[500]">Healthcare</h5>
        </div>
    </div>
</section>
<section class="bg-theme-gradient-light py-[36px] pb-0">
    <div class="max-w-[1200px] mx-auto">
        <div class="flex justify-between items-center">
            <h3 class="text-[40px] font-[900] max-w-[758px]">Enhance And pioneer Using Technology Trends</h3>
            <button
                class="button bg-theme-gradient px-[20px] h-[45px] text-[12px] font-inter text-white font-bold border-2 border-white rounded-md flex items-center justify-center">
                View All Case <img class="ml-2" src="/assets/icons/arrow-right.png">
            </button>
        </div>
        <div class="grid grid-cols-6 mt-[80px] gap-x-[30px]">
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="card font-inter theme-border text-center border-[2px] flex relative items-center flex-col pt-[32px] px-[40px] pb-[20px]">
                <div
                    class="icon bg-theme-gradient h-[55px] w-[55px] absolute rounded-full flex items-center justify-center -translate-y-[50%] top-0">
                    <img src="/assets/icons/web.png">
                </div>
                <h4 class="text-[26px] font-[600] font-inter">Website</h4>
            </div>
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="card font-inter theme-border text-center border-[2px] flex relative items-center flex-col pt-[32px] px-[40px] pb-[20px]">
                <div
                    class="icon bg-theme-gradient h-[55px] w-[55px] absolute rounded-full flex items-center justify-center -translate-y-[50%] top-0">
                    <img src="/assets/icons/android.png" alt="">
                </div>
                <h4 class="text-[26px] font-[600] font-inter">Android</h4>
            </div>
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="card font-inter theme-border text-center border-[2px] flex relative items-center flex-col pt-[32px] px-[40px] pb-[20px]">
                <div
                    class="icon bg-theme-gradient h-[55px] w-[55px] absolute rounded-full flex items-center justify-center -translate-y-[50%] top-0">
                    <img src="/assets/icons/web.png" alt="">
                </div>
                <h4 class="text-[26px] font-[600] font-inter">ios</h4>
            </div>
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="card font-inter theme-border text-center border-[2px] flex relative items-center flex-col pt-[32px] px-[40px] pb-[20px]">
                <div
                    class="icon bg-theme-gradient h-[55px] w-[55px] absolute rounded-full flex items-center justify-center -translate-y-[50%] top-0">
                    <img src="/assets/icons/web.png" alt="">
                </div>
                <h4 class="text-[26px] font-[600] font-inter">Website</h4>
            </div>
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="card font-inter theme-border text-center border-[2px] flex relative items-center flex-col pt-[32px] px-[40px] pb-[20px]">
                <div
                    class="icon bg-theme-gradient h-[55px] w-[55px] absolute rounded-full flex items-center justify-center -translate-y-[50%] top-0">
                    <img src="/assets/icons/web.png" alt="">
                </div>
                <h4 class="text-[26px] font-[600] font-inter">TV</h4>
            </div>
            <div style="box-shadow: 0px 4px 4px 0px #00000040;"
                class="card font-inter theme-border text-center border-[2px] flex relative items-center flex-col pt-[32px] px-[40px] pb-[20px]">
                <div
                    class="icon bg-theme-gradient h-[55px] w-[55px] absolute rounded-full flex items-center justify-center -translate-y-[50%] top-0">
                    <img src="/assets/icons/web.png" alt="">
                </div>
                <h4 class="text-[26px] font-[600] font-inter">Website</h4>
            </div>
        </div>
    </div>
    <div style="box-shadow: 0px 4px 4px 0px #00000040;"
        class="bg-theme-gradient max-w-[1200px] mx-auto rounded-[4px] flex gap-x-[52px] justify-center items-center h-[175px] translate-y-[50%]">
        <div class="flex items-center justify-center">
            <img src="assets/icons/lines.png" alt="">
            <h5 class="text-[24px] font-inter font-[700] text-white">Tech Media</h5>
        </div>
        <div class="flex items-center justify-center">
            <img src="assets/icons/lines.png" alt="">
            <h5 class="text-[24px] font-inter font-[700] text-white">Tech Media</h5>
        </div>
        <div class="flex items-center justify-center">
            <img src="assets/icons/lines.png" alt="">
            <h5 class="text-[24px] font-inter font-[700] text-white">Tech Media</h5>
        </div>
        <div class="flex items-center justify-center">
            <img src="assets/icons/lines.png" alt="">
            <h5 class="text-[24px] font-inter font-[700] text-white">Tech Media</h5>
        </div>
        <div class="flex items-center justify-center">
            <img src="assets/icons/lines.png" alt="">
            <h5 class="text-[24px] font-inter font-[700] text-white">Tech Media</h5>
        </div>
    </div>
</section>